nvim/plugins/*
nvim/lazy-lock.json
tmux/plugins
tmux/resurrect
!tmux/plugins/tmux/custom/*
.DS_Store
herdr/**
!herdr/.config
!herdr/.config/herdr
!herdr/.config/herdr/config.toml
hyprmoncfg-monitors.lua
